<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<!-- This is the error handling file. Down below is what you see when the code
cannot find a close match-->
<body>
    <center>
        <h1>We are incapable of finding a match to your word, due to the use of special characters.</h1>
        <p>Please try entering a word with valid syntax.</p>
    </center>
    <form action="/translate" method="post">   
        <center>
            <input type="text" name="word" placeholder="Enter word">
            <button type="submit">Search</button>
        </center>

    </form>
</body>
</html>
