<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <h1><center>We are incapable of finding a match to your word, due to the use of special characters.</center></h1>
    <h1><center>Please try entering a word with valid syntax.</center></h1>
    <form action="/translate" method="post">   
        <center>
            <input type="text" name="word" placeholder="Enter word">
            <button type="submit">Search</button>
        </center>

    </form>
</body>
</html>
