<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dictionary</title>
</head>
<!-- This is the index file. This is what you see on the home page of the dictionary.
The header is "Cyan Dictionary" and below it is the search bar where you enter your word.-->
<body>
    <h1><center>Cyan Dictionary</center></h1>
    <form action="/translate" method="post">   
        <center>
            <input type="text" name="word" placeholder="Enter word">
            <button type="submit">Search</button>
        </center>

    </form>
</body>
</html>
