<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion</title>
</head>
<body>
    <h1>Did you mean {{ suggestion }}?</h1>
    <p>If yes, please write the word below to see the definition.</p>
    <form action="/translate" method="post">
    <input type="text" name="word" placeholder="Enter the suggestion, or a different word">
    <button type="submit">Search</button>
    <style>
        input{
            width: 300px;
        }
    </style>
</body>
</html>
