<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suggestion</title>
</head>
<!-- This is the suggestion file. When you enter a word, and the system does not find an exact match,
but does find a close match,-->
<body>
    <center>
        <h1>Did you mean {{ suggestion }}?</h1>
        <p>If yes, please write the word below to see the definition.</p>
        <form action="/translate" method="post">
        <input type="text" name="word" placeholder="Enter word">
        <button type="submit">Search</button>
    </center>
    <style>
        input{
            width: 300px;
        }
    </style>
</body>
</html>
